<p id="notice"><%= notice %></p>

<div class="navigation-wrapper">
  <div class="test"><%= link_to 'New Restaurant', new_restaurant_path %></div>
  <div class="test">
  <%= form_with url: restaurants_path, method: :get do |form| %>
    <%= form.text_field :query %>
    <%= form.submit "Search" %>
  <% end %>
  </div>
</div>

<table class="index-table">
  <thead>
    <tr>
      <th>Restaurant Name</th>
      <th>Location</th>
      <th colspan="2">Vote Results</th>
      <th colspan="2">Vote!</th>
      <th colspan="3"></th>
    </tr>
    <tr>
      <th colspan="2"></th>
      <th>Up</th>
      <th>Down</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.location %></td>
        <td><%= restaurant.upvote %></td>
        <td><%= restaurant.downvote %></td>
        <td><%= button_to 'Will Split', increaseUpvote_path, method: :put, params: { id: restaurant.id } %></td>
        <td><%= button_to 'Won\'t Split', increaseDownvote_path, method: :put, params: { id: restaurant.id } %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

