<p id="notice"><%= notice %></p>


<div class="show-wrapper">
  <div class="show-info"><%= @restaurant.name %></div>
  <div class="show-info"><%= @restaurant.location %></div>
  <div>Upvotes</div>
  <div>Downvotes</div>
  <div class="votes"><%= @restaurant.upvote %></div>
  <div class="votes"><%= @restaurant.downvote %></div>
</div>

<div class="show-footer">
  <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
  <%= link_to 'Back', restaurants_path %>
</div>


