<p id="notice"><%= notice %></p>

<div class="navigation-wrapper">
  <%= link_to 'Back', restaurants_path %>
</div>

<h1 class="summary">Your Comments</h1>
<table class="index-table">
  <thead>
    <tr>
      <th>Restaurant Name</th>
      <th>Comment</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.restaurant.name %></td>
        <td><%= comment.fullComment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1 class="summary">Your Favorites</h1>
<table class="index-table">
  <thead>
    <tr>
      <th>Restaurant Name</th>
    </tr>
  </thead>

  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%= favorite.restaurant.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1 class="summary">Your Votes</h1>
<table class="index-table">
  <thead>
    <tr>
      <th>Restaurant Name</th>
      <th>Will Votes</th>
      <th>Won't Votes</th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.restaurant.name %></td>
        <td><%= vote.upvote %></td>
        <td><%= vote.downvote %></td>
      </tr>
    <% end %>
  </tbody>
</table>

